.appBody {
    background: url("./images/final_illo_round_3.jpg") no-repeat center center fixed;
    background-size: cover;
}

.appTitleClass {
    border: 5px solid black;
    color:seagreen;
    font-size:100px;
    font-weight:bold;  
    text-align:center;
    font-family:cursive;
    margin-top: 0.5%;
}

.appWelcomeMsgClass {
    color:darkcyan;
    font-size:50px;
    font-style:italic;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    margin-top: -6%;
}